body {
}

#texto {
    display: inline-block;
    vertical-align: central;
    align-items:center;
    justify-content:center;
    padding-top:100px;
}
#btn-clases {
    display: inline-block;
    vertical-align: central;
    align-items: center;
    justify-content: center;
    
}
#btn-armado {
   
    width: 200px;
    height: 50px;
    align-items: flex-end;
}
#botones-alfinal{
    padding-left:2000px;
}
#card-footer{
    display:inline-block;
    align-items:center;
}
#fotos{
    align-self:auto;
    padding:0px 0px 0px 20px;
    width:200px;
    height:200px;
}
#mapas {
    align-self: auto;
    width: 550px;
    height: 400px;
}
#lista {

    display: inline-grid;
    width: 200px;
    height: auto;
}
#foto-central{
    vertical-align:central;
    padding:0px 0px 0px 10px;
}
#textoVentas{
    padding-top:2em;
}
#fotos-menu-pequeño {
    align-self: auto;
    width: 110px;
    height: 110px;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#btn-venta {
    width: 150px;
    height: 150px;
}


