body {
}

#texto {
    display: inline-block;
    vertical-align: central;
    align-items:center;
    justify-content:center;
    padding-top:100px;
}
#btn-clases {
    display: inline-block;
    vertical-align: central;
    align-items: center;
    justify-content: center;
    
}
#btn-armado {
   
    width: 200px;
    height: 50px;
    align-items: flex-end;
}
#btn-armado-confirmar {
    width: 200px;
    height: 50px;
    align-items: flex-end;
}
#btn-armado {
    width: 200px;
    height: 50px;
    align-items: flex-end;
}
#botones-alfinal{
    padding-left:2000px;
}
#card-footer{
    display:inline-block;
    align-items:center;
}
#fotos{
    align-self:auto;
    padding:0px 0px 0px 20px;
    width:200px;
    height:200px;
}
#mapas {
    align-self: auto;
    width: 550px;
    height: 400px;
}
#lista {

    display: inline-grid;
    width: 200px;
    height: auto;
}
#foto-central{
    vertical-align:central;
    padding:0px 0px 0px 10px;
}
#textoVentas{
    padding-top:2em;
}
#fotos-menu-pequeño {
    align-self: auto;
    width: 110px;
    height: 110px;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#btn-venta-sprite {
    width: 150px;
    height: 150px;
}
#btn-venta {
    width: 150px;
    height: 150px;
}
#btn-venta-fanta {
    width: 150px;
    height: 150px;
}
#btn-venta-pepsi {
    width: 150px;
    height: 150px;
}
#btn-venta-crush {
    width: 150px;
    height: 150px;
}
#btn-venta-seven {
    width: 150px;
    height: 150px;
}
#btn-venta-pollo4 {
    width: 150px;
    height: 150px;
}
#btn-venta-pollo2 {
    width: 150px;
    height: 150px;
}
#btn-venta-pollo {
    width: 150px;
    height: 150px;
}
#btn-venta-hot {
    width: 150px;
    height: 150px;
}
#btn-venta-comp{
    width:150px;
    height:150px;
}
#btn-venta-tomate{
    width: 150px;
    height: 150px;
}
#btn-venta-papas4 {
    width: 150px;
    height: 150px;
}
#btn-venta-papas2 {
    width: 150px;
    height: 150px;
}
#btn-venta-papas {
    width: 150px;
    height: 150px;
}
#btn-venta-pollo4-papas {
    width: 150px;
    height: 150px;
}
#btn-venta-pollo2-papas {
    width: 150px;
    height: 150px;
}
#btn-venta-pollo-papas{
    width: 150px;
    height: 150px;
}
#btn-venta-comp-papas{
    width: 150px;
    height: 150px;
}
#btn-4{
    height: 40px;
    width: 40px;
 }